<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSS_Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data source=MAKS-PC\SQLSERVER_2014;initial catalog=MedicalStore_db;persist security info=True;user id=sa;password=amber745;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="MSS_Reporting.Properties.Settings.MedicalStore_dbConnectionString" connectionString="Data Source=MAKS-PC\SQLSERVER_2014;Initial Catalog=MedicalStore_db;Persist Security Info=True;User ID=sa;Password=amber745" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <MSS_Reporting.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="userPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
    </MSS_Reporting.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>